/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: sans-serif;
}
table{
    border: 1px solid black;
    padding: 3px;
}
th{
    border: 1px solid black;
    padding: 5px;
}
td{
    padding: 5px;
    border: 1px solid black;
}
ul{
    padding: 10px; 
}
li{
    border-bottom: 1px solid black;
}
a{
    display: inline-block;
    color: black;
    margin: 5px 15px;
    text-decoration: none;
} */
